### Nesting of the list

list inside a list

In [1]:
A = [[1,2,3],[11,22,33],[45,56,77]]
A

[[1, 2, 3], [11, 22, 33], [45, 56, 77]]

In [2]:
A[1][1]

22

In [3]:
A[0]

[1, 2, 3]

In [4]:
A = [[1,2,3],[11,22,33,[500,502]],[45,56,77]]
A

[[1, 2, 3], [11, 22, 33, [500, 502]], [45, 56, 77]]

In [5]:
A[1]

[11, 22, 33, [500, 502]]

In [6]:
A[1][3][0]

500

In [7]:
A = [[1,2,3],[11,22,33,[500,502]],[45,[230,'HII'],56,77]]

In [8]:
A[2]

[45, [230, 'HII'], 56, 77]

In [9]:
A[2][1][1]

'HII'

In [10]:
A[-1]

[45, [230, 'HII'], 56, 77]

In [11]:
A[-1][-3][-1]

'HII'

In [12]:
A[-1]

[45, [230, 'HII'], 56, 77]

In [13]:
A[-1][1][-1]

'HII'

In [16]:
amazon_cart = [['watch',5000],['phone',10000],['Laptop',50000]]
total_cost = 0

for i in amazon_cart:
    total_cost=total_cost+i[1]

total_cost

65000

In [17]:
#with out for loop
amazon_cart[0][1]+amazon_cart[1][1]+amazon_cart[2][1]

65000

In [18]:
total_cost = 0

for i in range(len(amazon_cart)):
    print(amazon_cart[i][1])
    total_cost=total_cost+amazon_cart[i][1]
    
total_cost

5000
10000
50000

65000

In [24]:
total_cost = 0
print(f'empty cart: {total_cost}')
for item in amazon_cart:
    print(item[1])
    total_cost=total_cost+item[1]
    print(f'cart after adding {item[0]}: {total_cost}')
print(f'Total payable amount: {total_cost}')

empty cart: 0
5000
cart after adding watch: 5000
10000
cart after adding phone: 15000
50000
cart after adding Laptop: 65000
Total payable amount: 65000

### List comprehension  - Recommended

In [27]:
#list which contains list of square of numbers between 1 to 10

A = range(1,11)
ans = list()

for ele in A:
    print(ele**2)
    ans.append(ele**2)
ans

1
4
9
16
25
36
49
64
81
100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
ans = [ele**2 for ele in range(1,11)]
ans

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [30]:
ans = [i**2 for i in range(1,11)]
ans

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
#only take the square of odd numbers in the list

A = range(1,11)
ans = list()

for ele in A:
    if ele%2!=0:
        ans.append(ele**2)
        
ans

[1, 9, 25, 49, 81]

In [34]:
ans = [ele**2 for ele in range(1,11) if ele%2!=0]
ans

[1, 9, 25, 49, 81]

### Count()

In [35]:
A = [1,2,1,4,5,6,7,7,7]
A.count(1)

2

In [36]:
A.count(7)

3

In [37]:
A.count(799)

0

In [39]:
A = [1,2,1,4,5,6,[7,7],[7,7]]
A.count([7,7])

2

In [40]:
A.count(7)

0

In [41]:
A[-1].count(7)

2

In [42]:
#counting usnig for loop
A = [1,2,1,4,5,6,7,7,7]
for i in A:
    print(i, A.count(i))

1 2
2 1
1 2
4 1
5 1
6 1
7 3
7 3
7 3

In [43]:
#counting in a string

A='Sunny'
for i in A:
    print(i, A.count(i))

S 1
u 1
n 2
n 2
y 1

In [44]:
A = ['Sunny','Sunny','Chandra']
for i in A:
    print(i, A.count(i))

Sunny 2
Sunny 2
Chandra 1

### extend()

In [45]:
A = [1,2,3]
B = [11,22,33]

A+B

[1, 2, 3, 11, 22, 33]

In [46]:
A = [1,2,3]
B = [11,22,33]

A.extend(B)  #inplace changes

In [47]:
A

[1, 2, 3, 11, 22, 33]

In [48]:
A = [1,2,3]
B = [11,22,33]

A.append(B)  #inplace changes
A

[1, 2, 3, [11, 22, 33]]

### index()

In [49]:
A  = [11,3,4,56,'Sunny',1+2j]

A.index('Sunny')

4

In [50]:
type(2+3j)

complex

In [51]:
#print the index of all complex numbers

A  = [11,3,4,56+2j,'Sunny',1+2j]

for ele in A:
    if type(ele)==complex:
        print(A.index(ele))

3
5

In [52]:
A  = [11,3,4,56+2j,'Sunny',1+2j]

for ele in A:
    print(f'Element {ele}| Type: {type(ele)}| Index: {A.index(ele)}')

Element 11| Type: <class 'int'>| Index: 0
Element 3| Type: <class 'int'>| Index: 1
Element 4| Type: <class 'int'>| Index: 2
Element (56+2j)| Type: <class 'complex'>| Index: 3
Element Sunny| Type: <class 'str'>| Index: 4
Element (1+2j)| Type: <class 'complex'>| Index: 5

In [55]:
#print the index for all the complex numbers
A  = [11,3,4,56+2j,'Sunny',1+2j]

for ele in A:
    if type(ele)== int:
        print(f'Element {ele}| Type: {type(ele)}| Index: {A.index(ele)}')

Element 11| Type: <class 'int'>| Index: 0
Element 3| Type: <class 'int'>| Index: 1
Element 4| Type: <class 'int'>| Index: 2

### isinstance

In [56]:
for ele in A:
    if isinstance(ele, complex):
        print(f'Element {ele}| Type: {type(ele)}| Index: {A.index(ele)}')

Element (56+2j)| Type: <class 'complex'>| Index: 3
Element (1+2j)| Type: <class 'complex'>| Index: 5

In [57]:
# print the index all the complex and int type elements

for ele in A:
    if isinstance(ele, complex) or isinstance(ele, int):
        print(f'Element {ele}| Type: {type(ele)}| Index: {A.index(ele)}')

Element 11| Type: <class 'int'>| Index: 0
Element 3| Type: <class 'int'>| Index: 1
Element 4| Type: <class 'int'>| Index: 2
Element (56+2j)| Type: <class 'complex'>| Index: 3
Element (1+2j)| Type: <class 'complex'>| Index: 5

In [58]:
for ele in A:
    if isinstance(ele, (complex, int)) :
        print(f'Element {ele}| Type: {type(ele)}| Index: {A.index(ele)}')

Element 11| Type: <class 'int'>| Index: 0
Element 3| Type: <class 'int'>| Index: 1
Element 4| Type: <class 'int'>| Index: 2
Element (56+2j)| Type: <class 'complex'>| Index: 3
Element (1+2j)| Type: <class 'complex'>| Index: 5

In [61]:
ans = [ele for ele in A if isinstance(ele,complex)]
ans

[(56+2j), (1+2j)]

In [62]:
#if duplicates are there then it would provide the first index of the element
A  = [11,3,4,56+2j,'Sunny',1+2j,3,3]

A.index(3)

1

In [64]:
A = [1,2,3,[4,5,6],7,8,9]

A.index(4)

ValueError: 4 is not in list

In [65]:
A = [1,2,3,[4,5,6],7,8,9]

A[3].index(4)

0

### Insert()

- Insert method allows to add elements and specific index

In [66]:
A = [1,2,3,4,5]

A.append(99)
A

[1, 2, 3, 4, 5, 99]

In [67]:
A.insert(2,'Sunny')
A

[1, 2, 'Sunny', 3, 4, 5, 99]

In [68]:
A.insert(2000,'Sunny')
A

[1, 2, 'Sunny', 3, 4, 5, 99, 'Sunny']

In [69]:
A.insert(-2000,'Sunny')
A

['Sunny', 1, 2, 'Sunny', 3, 4, 5, 99, 'Sunny']

In [70]:
A[2000]

IndexError: list index out of range

In [71]:
A = [3,4,5]
len(A)

3

In [72]:
A.insert(2,'Sunny')

In [74]:
len(A)

4

In [75]:
A.insert(2000,'Sunny')
len(A)

5

In [76]:
A.insert(,'Sunny')
len(A)

SyntaxError: invalid syntax (Temp/ipykernel_5840/966249331.py, line 1)

In [78]:
A.insert('Sunny')
len(A)

TypeError: insert expected 2 arguments, got 1

In [79]:
A

[3, 4, 'Sunny', 5, 'Sunny']

In [80]:
A.insert(3,[1,2,34])
A

[3, 4, 'Sunny', [1, 2, 34], 5, 'Sunny']

In [81]:
A.index('Sunny')

2

### remove()

In [82]:
A = [1,2,3,455,6,77]
A.remove(455)
A

[1, 2, 3, 6, 77]

In [83]:
A = [1,1,2,3,455,6,77]
A.remove(1)
A

[1, 2, 3, 455, 6, 77]

In [84]:
A = [1,2,3,455,6,88,6,77]
A.remove(6)
A

[1, 2, 3, 455, 88, 6, 77]

In [85]:
A = [1,2,3,455,6,88,6,77]
A.remove(999)
A

ValueError: list.remove(x): x not in list

In [86]:
print(A)
A.pop(-1)

[1, 2, 3, 455, 6, 88, 6, 77]

77

#### remove() - removes the values by element
#### pop() - removes the values by index

## Tuples - '()', Immutable

Tuples help in maintaing the data integrity (where there is a scenario of not to change the data)

In [87]:
A  = (1,2,3)
type(A)

tuple

In [88]:
#element accessing
A[0]

1

In [89]:
A[-1]

3

In [90]:
A[0]=22

TypeError: 'tuple' object does not support item assignment

In [91]:
A = (22,12,34,1)
A.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [93]:
sorted(A) #convert it in to list and then return the sorted list

[1, 12, 22, 34]

In [94]:
A = sorted(A)
A

[1, 12, 22, 34]

In [95]:
A = tuple(sorted(A))
A

(1, 12, 22, 34)

In [96]:
A = (22,12,34,1)
len(A)

4

In [97]:
A*2

(22, 12, 34, 1, 22, 12, 34, 1)

In [98]:
#The original A is stil there

A

(22, 12, 34, 1)

In [99]:
A**2

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

In [100]:
A = A*2
A

(22, 12, 34, 1, 22, 12, 34, 1)

In [101]:
max(A)

34

In [102]:
min(A)

1

In [103]:
A.index(12)

1

In [104]:
A.count(12)

2

In [105]:
sum(A)

138

In [106]:
A.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [111]:
amazon_cart = [('watch',5000),('phone',10000),('Laptop',50000),('shirt',1000)]
amazon_cart

[('watch', 5000), ('phone', 10000), ('Laptop', 50000), ('shirt', 1000)]

In [112]:
total_cost = 0
print(f'empty cart: {total_cost}')
for item in amazon_cart:
    print(item[1])
    total_cost=total_cost+item[1]
    print(f'cart after adding {item[0]}: {total_cost}')
print(f'Total payable amount: {total_cost}')

empty cart: 0
5000
cart after adding watch: 5000
10000
cart after adding phone: 15000
50000
cart after adding Laptop: 65000
1000
cart after adding shirt: 66000
Total payable amount: 66000

In [108]:
print(A)
A[1:]

(22, 12, 34, 1, 22, 12, 34, 1)

(12, 34, 1, 22, 12, 34, 1)

In [109]:
A[::-1]

(1, 34, 12, 22, 1, 34, 12, 22)

In [113]:
##user input what you want to purchase
##


amazon_website =[('watch',5000),('phone',10000),('Laptop',50000),('shirt',1000)]

my_choice = input('What you want to purchase?: ')

What you want to purchase?: phone

In [114]:
my_choice

'phone'

In [116]:
#to match my choice with amazon list

for item in amazon_website:
    if item[0]==my_choice:
        print(item)

Out of stock
('phone', 10000)
Out of stock
Out of stock

## Assignment

1. on Amazon website we have the followinf available items-
```
amazon_website =[('watch',5000),('phone',10000),('Laptop',50000),('shirt',1000)]
```
Take the user input N no.of times and find out the total cost to be paid?

if the item is not present in the amazon website then print that item as out of stock and do add it total

hint: while, for loop, indexing

## Sets

- unordered collection of unique elements
- mutable in nature

In [117]:
x = {1,2,3,6,7}

In [118]:
type(x)

set

In [119]:
x ={1,2,3,6,7,7,7}
x

{1, 2, 3, 6, 7}

In [120]:
x = set()

type(x)

set

In [123]:
x = {}  ##not recommended
type(x)

dict

In [122]:
x = tuple()
type(x)

tuple

In [128]:
x ={1,2,3,6,7,7,7}
x

{1, 2, 3, 6, 7}

In [127]:
x[0]  #not allowed as set is unordered

TypeError: 'set' object is not subscriptable

In [140]:
x = {1,2,3,6,'sunny'}
x

{1, 2, 3, 6, 'sunny'}

### add()

In [141]:
x.add(99)

In [142]:
x

{1, 2, 3, 6, 99, 'sunny'}

In [144]:
x.add(99+2j)
x.add(-2)
x.add(20.2)
x

{(99+2j), -2, 1, 2, 20.2, 3, 6, 99, 'sunny'}

In [136]:
x.append(96)

AttributeError: 'set' object has no attribute 'append'

In [137]:
A = {1,2,3}
B = {4,5,6}
A+B

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [138]:
## print the unique values in the list

A = [1,2,3,5,5,6,6,7,7,7]
A = list(set(A))

In [139]:
A

[1, 2, 3, 5, 6, 7]

### remove()