## Agenda

1. Variables case sensitivity
2. Reserve words in Python
3. Multi assigment of variables
4. User Input
5. Type casting
6. Memory block
7. Operators
  - Logiacal
  - Equality
  - Comparision
  - Arthematic
  - Bitwise (In Advance class)
  - Operators for sets and dictionaries
8. String methods

### Variable case sensitivity

In [1]:
TEN = 10
ten = 20  ##both variables are different

In [2]:
print(TEN)
print(ten)

10
20

In [4]:
print(TEn)

NameError: name 'TEn' is not defined

### Reserve words in Python

1. We should not use reserve words as variable
2. Python will not restrict to use the key word

In [5]:
print('Hi there')

Hi there

In [1]:
print = 'Hi there'

In [2]:
print('Hi there')

TypeError: 'str' object is not callable

In [3]:
del print # delet the variable

In [4]:
print('Hey you!')

Hey you!

### Multi assignment of variables

In [14]:
a, b, c, yes = 10, 20, "Sunny", True

In [7]:
print(type(a))
type(b)
type(c)

<class 'int'>

str

In [9]:
type(yes)

bool

In [11]:
# a, b, c, yes = 10

TypeError: cannot unpack non-iterable int object

In [12]:
type(a)

int

In [13]:
type(a,b,c)

TypeError: type.__new__() argument 1 must be str, not int

In [15]:
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

In [16]:
a, A, c, C = 10, 20, "Sunny", True

In [17]:
print(a, A, c, C)

10 20 Sunny True

In [18]:
a = b = c = 10

In [19]:
print(a)
print(b)
print(c)

10
10
10

### User Input

In [20]:
name = input("Enter your name: ")
print(f"you have entered: {name}")

Enter your name: Priya
you have entered: Priya

In [21]:
name = input("Enter your name: ")
print(f"you have entered: {name}")

Enter your name: 1234
you have entered: 1234

In [22]:
A = input("Enter values of A: ")
B = input('Enter value of B: ')
print(f"Sum of values: {A+B}")

Enter values of A: 12
Enter value of B: 45
Sum of values: 1245

In [23]:
A = input("Enter values of A: ")
B = input('Enter value of B: ')
print(type(A), type(B))

Enter values of A: 12
Enter value of B: 34
<class 'str'> <class 'str'>

In [43]:
name = input('Name: ')
place = input('Where do you live?')
year_of_birth = float(input('Year_of_birth: '))

Name: Priya
Where do you live?Hyd
Year_of_birth: 1996

In [44]:
#calcualte the age of the user

name = input('Name: ') ##input() is always takes input as str
place = input('Where do you live?')
year_of_birth = int(input('Year_of_birth: '))

age = 2022 - year_of_birth

print(f"Age of the person is: {age}")

Name: Priya
Where do you live?Hyd
Year_of_birth: 1980
Age of the person is: 42

In [45]:
#calcualte the age of the user

name = input('Name: ') ##input() is always takes input as str
place = input('Where do you live?')
year_of_birth = input('Year_of_birth: ')

age = 2022 - int(year_of_birth)

print(f"Age of the person is: {age}")

Name: priya
Where do you live?Hyd
Year_of_birth: 1987
Age of the person is: 35

In [46]:
#calcualte the age of the user

name = input('Name: ') ##input() is always takes input as str
place = input('Where do you live?')
year_of_birth = input('Year_of_birth: ')
current_year = input('Enter current year: ')

age = int(current_year) - int(year_of_birth)

print(f"Age of the person is: {age}")

Name: x
Where do you live?hyd
Year_of_birth: 2000
Enter current year: 2022
Age of the person is: 22

### Type conversion

In [24]:
A = int(input("Enter values of A: "))
B = int(input('Enter value of B: '))
print(f"Sum of values: {A+B}")

Enter values of A: 12
Enter value of B: 12
Sum of values: 24

In [25]:
print(type(A), type(B))

<class 'int'> <class 'int'>

In [26]:
A = float(input("Enter values of A: "))
B = float(input('Enter value of B: '))
print(f"Sum of values: {A+B}")

Enter values of A: 23.2
Enter value of B: 12.2
Sum of values: 35.4

In [27]:
A = float(input("Enter values of A: "))
B = int(input('Enter value of B: '))
print(f"Sum of values: {A+B}")

Enter values of A: 12.2
Enter value of B: 10
Sum of values: 22.2

In [28]:
A = float(input("Enter values of A: "))
B = int(input('Enter value of B: '))
print(f"Sum of values: {A+B}")

Enter values of A: 12.2
Enter value of B: 10.2

ValueError: invalid literal for int() with base 10: '10.2'

In [30]:
## Str to integer

A = '50'
print(f'data type before {type(A)}')
A = int(A)
print(f'data type after {type(A)}')

data type before <class 'str'>
data type after <class 'int'>

In [31]:
#Not allowed
A = '50.22'
print(f'data type before {type(A)}')
A = int(A)
print(f'data type after {type(A)}')

data type before <class 'str'>

ValueError: invalid literal for int() with base 10: '50.22'

In [33]:
#float to int
A = 50.22
print(f'data type before {type(A)}, value of A: {A}')
A = int(A)
print(f'data type before {type(A)}, value of A: {A}')

data type before <class 'float'>, value of A: 50.22
data type before <class 'int'>, value of A: 50

In [34]:
#int to float
A = 50
print(f'data type before {type(A)}, value of A: {A}')
A = float(A)
print(f'data type before {type(A)}, value of A: {A}')

data type before <class 'int'>, value of A: 50
data type before <class 'float'>, value of A: 50.0

In [35]:
#int to boolean
A = 10
print(f'data type before {type(A)}, value of A: {A}')
A = bool(A)
print(f'data type before {type(A)}, value of A: {A}')

data type before <class 'int'>, value of A: 10
data type before <class 'bool'>, value of A: True

In [36]:
#int to boolean
# only 0 will be given as false 
A = 0
print(f'data type before {type(A)}, value of A: {A}')
A = bool(A)
print(f'data type before {type(A)}, value of A: {A}')

data type before <class 'int'>, value of A: 0
data type before <class 'bool'>, value of A: False

- True in binary is 1
- False in binary is 0
- convering any non-zero numbers and sting values into booleans will give True as an answer
- Empty string "" will give false as an answer after converting from str to boolean

In [37]:
#int to boolean
A = -5
print(f'data type before {type(A)}, value of A: {A}')
A = bool(A)
print(f'data type before {type(A)}, value of A: {A}')

data type before <class 'int'>, value of A: -5
data type before <class 'bool'>, value of A: True

In [38]:
#str to boolean
A = "Priya"
print(f'data type before {type(A)}, value of A: {A}')
A = bool(A)
print(f'data type before {type(A)}, value of A: {A}')

data type before <class 'str'>, value of A: Priya
data type before <class 'bool'>, value of A: True

In [39]:
#str to boolean
A = "False"
print(f'data type before {type(A)}, value of A: {A}')
A = bool(A)
print(f'data type before {type(A)}, value of A: {A}')

data type before <class 'str'>, value of A: False
data type before <class 'bool'>, value of A: True

In [40]:
#empty str to boolean
A = ""
print(f'data type before {type(A)}, value of A: {A}')
A = bool(A)
print(f'data type before {type(A)}, value of A: {A}')

data type before <class 'str'>, value of A:
data type before <class 'bool'>, value of A: False

In [41]:
#empty str to int
A = ""
print(f'data type before {type(A)}, value of A: {A}')
A = int(A)
print(f'data type before {type(A)}, value of A: {A}')

data type before <class 'str'>, value of A:

ValueError: invalid literal for int() with base 10: ''

### Memory block

Memory is assigned to the value of variable passed not the variable name

In [47]:
a = 22
b = 34
c = 22

In [48]:
#to get the memory address/location of a variable

id(a)

2076565662672

In [49]:
id(b)

2076565663056

In [50]:
id(c)

2076565662672

In [51]:
c = 22+b

In [52]:
id(c)

2076565852240

In [53]:
a = 22
id(a)

2076565662672

In [54]:
a = 99
id(a)

2076565853616

In [55]:
a = 'Priya'
b = 'Priya'

In [56]:
id(a)

2074532425904

In [57]:
id(b)

2074532425904

In [58]:
a = 'P'
b = 'P'
print(id(a),id(b))

2076571748912 2076571748912

### Assignments