### In built data structures

#### Lists

- container that stores the data
- accepts any data type
- List are mutable/ changable

In [1]:
A = [1,2,3,4,5]

A[0]

1

In [2]:
A = [1,2,3,4,5.0,'Sunny',1+2j, True]

A[-1]

True

#### What is the difference between list in python and array in other language

- In array we will have elements of only one data type
- In python list all elements can be of different data type or same data type.

In [3]:
A = [1,2,3,4,5.0,'Sunny',1+2j, True]

type(A)

list

In [4]:
for element in A:
    print(element, end=' ')

1 2 3 4 5.0 Sunny (1+2j) True

In [5]:
for i in range(len(A)):
    print(A[i], end=' ')

1 2 3 4 5.0 Sunny (1+2j) True

In [7]:
for i in range(len(A)):
    print(f'vlaues is {A[i]} and data type is{type(A[i])}')

vlaues is 1 and data type is<class 'int'>
vlaues is 2 and data type is<class 'int'>
vlaues is 3 and data type is<class 'int'>
vlaues is 4 and data type is<class 'int'>
vlaues is 5.0 and data type is<class 'float'>
vlaues is Sunny and data type is<class 'str'>
vlaues is (1+2j) and data type is<class 'complex'>
vlaues is True and data type is<class 'bool'>

In [8]:
my_list = ['one','two','three']

In [10]:
print(A)
A[3:]

[1, 2, 3, 4, 5.0, 'Sunny', (1+2j), True]

[4, 5.0, 'Sunny', (1+2j), True]

In [11]:
A[0::2]  #[start index: end index: step]

[1, 3, 5.0, (1+2j)]

In [13]:
for i in range(0,8,2):
   
    print(i, A[i])

0 1
2 3
4 5.0
6 (1+2j)

In [14]:
print(A)
#print reverse

A[::-1]

[1, 2, 3, 4, 5.0, 'Sunny', (1+2j), True]

[True, (1+2j), 'Sunny', 5.0, 4, 3, 2, 1]

In [15]:
A[::-2]

[True, 'Sunny', 4, 2]

In [16]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [17]:
for i in range(0,len(A),2):
    print(i, A[i])

0 1
2 3
4 5.0
6 (1+2j)

In [18]:
for i in range(0,len(A)):
    print(i, A[i])

0 1
1 2
2 3
3 4
4 5.0
5 Sunny
6 (1+2j)
7 True

In [20]:
for i in range(-1,-len(A)-1,-1):
    print(i, A[i])

-1 True
-2 (1+2j)
-3 Sunny
-4 5.0
-5 4
-6 3
-7 2
-8 1

In [21]:
A[1::2]

[2, 4, 'Sunny', True]

In [23]:
for i in [1,5,6,7]:
    print(A[i])

2
Sunny
(1+2j)
True

In [24]:
#changing the values in the list

A[4] = 999
A

[1, 2, 3, 4, 999, 'Sunny', (1+2j), True]

In [25]:
A[-2]="Ineuron"
A

[1, 2, 3, 4, 999, 'Sunny', 'Ineuron', True]

In [26]:
B = [778,90.22]
B

[778, 90.22]

In [27]:
#concatenation of two lists

A+B

[1, 2, 3, 4, 999, 'Sunny', 'Ineuron', True, 778, 90.22]

In [28]:
A = A+B

In [29]:
A

[1, 2, 3, 4, 999, 'Sunny', 'Ineuron', True, 778, 90.22]

In [30]:
A-B

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [31]:
#repetation of the list

A*2

[1,
 2,
 3,
 4,
 999,
 'Sunny',
 'Ineuron',
 True,
 778,
 90.22,
 1,
 2,
 3,
 4,
 999,
 'Sunny',
 'Ineuron',
 True,
 778,
 90.22]

In [32]:
A/2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [33]:
A*A

TypeError: can't multiply sequence by non-int of type 'list'

In [34]:
A+A+A

[1,
 2,
 3,
 4,
 999,
 'Sunny',
 'Ineuron',
 True,
 778,
 90.22,
 1,
 2,
 3,
 4,
 999,
 'Sunny',
 'Ineuron',
 True,
 778,
 90.22,
 1,
 2,
 3,
 4,
 999,
 'Sunny',
 'Ineuron',
 True,
 778,
 90.22]

In [36]:
A*(-1)

[]

In [37]:
A*(-2)

[]

In [38]:
A+2A

SyntaxError: invalid syntax (Temp/ipykernel_1464/3610180755.py, line 1)

In [39]:
A*0

[]

### Basic List Methods

In [40]:
len(A)

10

In [41]:
#list with user input

my_list = []  #Not recommended
len(my_list)

0

In [43]:
my_list = list()  #recommended input

In [46]:
list_of_item_to_purchase = list()

for i in range(10):
    user_input = input('Enter the item that you want to purchase: ')
    list_of_item_to_purchase=list_of_item_to_purchase+[user_input]
    
print(list_of_item_to_purchase)

Enter the item that you want to purchase: 1
Enter the item that you want to purchase: 2
Enter the item that you want to purchase: 3
Enter the item that you want to purchase: 4
Enter the item that you want to purchase: 5
Enter the item that you want to purchase: 6
Enter the item that you want to purchase: 7
Enter the item that you want to purchase: 8
Enter the item that you want to purchase: 9
Enter the item that you want to purchase: 11
['1', '2', '3', '4', '5', '6', '7', '8', '9', '11']

In [50]:
list_of_item_to_purchase = list()
N = int(input('No of iteams you want to purchase'))
for i in range(N):
    user_input = input('Enter the item that you want to purchase: ')
    list_of_item_to_purchase=list_of_item_to_purchase+[user_input]
    
print(list_of_item_to_purchase)

No of iteams you want to purchase3
Enter the item that you want to purchase: pen
Enter the item that you want to purchase: pencile
Enter the item that you want to purchase: book
['pen', 'pencile', 'book']

In [52]:
list_of_item_to_purchase = list()
N = int(input('No of iteams you want to purchase'))
i=0
while i <N:
    user_input = input('Enter the item that you want to purchase: ')
    list_of_item_to_purchase=list_of_item_to_purchase+[user_input]
    print(f'Current list: {list_of_item_to_purchase}')
    i=i+1
print(list_of_item_to_purchase)

No of iteams you want to purchase3
Enter the item that you want to purchase: pen
Current list: ['pen']
Enter the item that you want to purchase: pencile
Current list: ['pen', 'pencile']
Enter the item that you want to purchase:
Current list: ['pen', 'pencile', '']
['pen', 'pencile', '']

### checking the elements in the list

In [53]:
'phone cover' in list_of_item_to_purchase

False

In [54]:
'pen' in list_of_item_to_purchase

True

In [55]:
'Pen' in list_of_item_to_purchase  ##case sensitive

False

In [56]:
if 'phone cover' in list_of_item_to_purchase:
    print('Yes')
else:
    print('No, adding into the list')
    list_of_item_to_purchase = list_of_item_to_purchase+['phone cover']

list_of_item_to_purchase

No, adding into the list

['pen', 'pencile', '', 'phone cover']

In [59]:
if 'milk' not in list_of_item_to_purchase:
    print('No, adding into the list')
    list_of_item_to_purchase = list_of_item_to_purchase+['milk']

list_of_item_to_purchase

No, adding into the list

['pen', 'pencile', '', 'phone cover', 'milk']

In [60]:
new_item = input('Any thing to add: ')

if new_item not in list_of_item_to_purchase:
    print('No, adding into the list')
    list_of_item_to_purchase = list_of_item_to_purchase+[new_item]

list_of_item_to_purchase

Any thing to add: eggs
No, adding into the list

['pen', 'pencile', '', 'phone cover', 'milk', 'eggs']

### max()

In [62]:
example= [1,49,10,999]

max(example)

999

In [64]:
string_example = ['b','a','d','c']

max(string_example)

'd'

In [65]:
##ASCII value for "D" is less than 'd'
string_example = ['b','a','d','c','D']

max(string_example)

'd'

In [66]:
string_example = ['b','a','d','c','D',1,2]

max(string_example)

TypeError: '>' not supported between instances of 'int' and 'str'

In [67]:
example = [1,2,99.0]
max(example)

99.0

In [68]:
example = [1,2,99.0, 1-5j]
max(example)

TypeError: '>' not supported between instances of 'complex' and 'float'

In [70]:
example = [1,2,99.0, 1000, -5]
max(example)

1000

In [71]:
example = [1,2,99.0, 1000, -5]
min(example)

-5

In [74]:
example = [1,2,99.0, 1000, -5, 200*12]
max(example)

2400

In [75]:
sample_example = ['bhaveen', 'abhishek','dew','chalie','Doctor']

max(sample_example)

'dew'

In [78]:
sample_example = ['bhaveen', 'abhishek','dew','df','chalie','Doctor']

print(max(sample_example))
min(sample_example)

df

'Doctor'

In [79]:
#print a name with highest number of characters
string_example = ['bhaveen', 'abhishek','dew','df','chalie','Doctor']
max_len =0
result = ''
for example in string_example:
    print(example, len(example))
    if len(example)>max_len:
        max_len = len(example)
        result = example
        
print(f'RESULT: max_len: {max_len} name: {result}')

bhaveen 7
abhishek 8
dew 3
df 2
chalie 6
Doctor 6
RESULT: max_len: 8 name: abhishek

### Append method

In [80]:
A = [1,2,77]

A = A+['new element']
A

[1, 2, 77, 'new element']

In [81]:
A = [1,2,77]
A.append('new element')
A

[1, 2, 77, 'new element']

In [82]:
A.append('ROMA')

In [83]:
A

[1, 2, 77, 'new element', 'ROMA']

In [84]:
A.append('Sanjay','John')
A

TypeError: list.append() takes exactly one argument (2 given)

In [85]:
A.append(['Sanjay','John'])
A

[1, 2, 77, 'new element', 'ROMA', ['Sanjay', 'John']]

In [88]:
list_of_item_to_purchase = list()

N = int(input('Enter no of items to purchase'))
for i in range(N):
    user_input = input('Enter the item that you want to purchase: ')
    list_of_item_to_purchase.append(user_input)
    
print(list_of_item_to_purchase)

Enter no of items to purchase3
Enter the item that you want to purchase: pen
Enter the item that you want to purchase: pencil
Enter the item that you want to purchase: book
['pen', 'pencil', 'book']

### POP()

Use pop to 'Pop off' and item fron the list. By default pop takes off the last index, but you can specify which index to pop off

In [90]:
A = [6,4,5,7,'Sunny']
A.pop()
A

[6, 4, 5, 7]

In [95]:
A = [6,4,5,7,'Sunny']
A.pop(2)
A

[6, 4, 7, 'Sunny']

In [96]:
#pop off the 0 indexed item
A.pop(0)

6

In [97]:
print(A)
removed_item=A.pop(1)

[4, 7, 'Sunny']

In [98]:
A

[4, 'Sunny']

In [104]:
#to print the odd numbers

A = [1,34,56,76,99]

for idx in range(len(A)):
    num = A[idx]
    print(idx,num)
    if num%2!=0:
        print(f'odd num: {num}')
    else:
        print(f'even number: {num}')

0 1
odd num: 1
1 34
even number: 34
2 56
even number: 56
3 76
even number: 76
4 99
odd num: 99

In [105]:
A = [1,45,67,98,-34]

sorted(A)

[-34, 1, 45, 67, 98]

In [106]:
A #does not make inplace changes

[1, 45, 67, 98, -34]

In [107]:
A = sorted(A)
A

[-34, 1, 45, 67, 98]

In [108]:
#to get desc order
A = [1,45,67,98,-34]
A.sort(reverse=True)  #inplace change

In [109]:
A

[98, 67, 45, 1, -34]

In [110]:
A.reverse()  #inplace change
A

[-34, 1, 45, 67, 98]

In [111]:
A = [1,23,45,'Sunny','iNeuron']

A=A[::-1]
A

['iNeuron', 'Sunny', 45, 23, 1]

In [112]:
A = [1,23,45,'Sunny','iNeuron']

A.reverse()

In [113]:
A

['iNeuron', 'Sunny', 45, 23, 1]

### Nesting of the list