### Agenda

1. Operators
  - Artthmetic Operators
2. String menthods

### Try to understand the following examples and answer the question based on it - 
    
**Arithmatic Operators**

|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|


Here `+`, `-`, `*`, `/` are regular arithmatic operators. Lets look at the `//` and `%` operators

Usecase or examples - 
    
```python
var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/5=5

```python
var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/3=8

```python
var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/5 is 0

```python
var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/3 is 1

In [1]:
A = 22
B = 23

A+B

45

In [2]:
A-B

-1

In [3]:
A/B

0.9565217391304348

In [4]:
A//B

0

In [5]:
a = 5
b = 2

a//b

2

In [6]:
a%b  #reminder

1

In [7]:
A = 4
B = 2

A%B

0

In [8]:
A = 55

B = 2

if A%B==0:
    print(f'A : {A} is divisible by B:{B}')
else:
    print(f'A : {A} is not divisible by B:{B}')

A : 55 is not divisible by B:2

In [9]:
A = 54

B = 3

if A%B==0:
    print(f'A : {A} is divisible by B:{B}')
else:
    print(f'A : {A} is not divisible by B:{B}')

A : 54 is divisible by B:3

In [10]:
# to find the square root

A = 4
A**(1/2)

2.0

### String methods

In [12]:
#       01234
name = 'Sunny'

name[0]

'S'

In [13]:
name[4]

'y'

In [14]:
name[-1]

'y'

In [15]:
name[-0]

'S'

In [17]:
name[5]  #supplying the range greater than the str len

IndexError: string index out of range

If N characters or elements are there in a string then

- the index range will be till N-1
- To index in reverse manner the range will be -1 to -N

In [18]:
#String slicing
name = 'Sunny'
name[1:]

'unny'

In [19]:
name[1:3] #here the ending index is excluded

'un'

In [20]:
name[1:4]

'unn'

In [21]:
name[1:5] #5 is not included

'unny'

In [22]:
name[-4:-1]

'unn'

In [35]:
date = '08/10/2022'
today = date[0:2]
month = date[3:5]
year = date[-4:]

print(f'its {today}th of month {month} of the year {year}')

its 08th of month 10 of the year 2022

In [30]:
today = date[0:2]
today

'08'

In [31]:
month = date[3:5]
month

'10'

In [32]:
year = date[-4:]
year

'2022'

In [38]:
date = input('enter DOB in the format dd/mm/yyyy: ')
today = date[0:2]
month = date[3:5]
year = date[-4:]

print(f'The user was born in the month of {month} in the year {year} on the date {today}')

enter DOB in the format dd/mm/yyyy: 11/10/1996
The user was born in the month of 10 in the year 1996 on the date 11

In [39]:
date = input('enter DOB in the format dd/mmm/yyyy: ')
today = date[0:2]
month = date[3:6]
year = date[-4:]

print(f'The user was born in the month of {month} in the year {year} on the date {today}')

enter DOB in the format dd/mmm/yyyy: 11/oct/1996
The user was born in the month of oct in the year 1996 on the date 11

In [40]:
name = 'Sunny'
name[0:5:2]  #start:ending:step

'Sny'

In [42]:
name[0:5:3]

'Sn'

In [43]:
name = 'Sunny Bhaveen Chandra'

name[0::2]

'SnyBaenCada'

In [44]:
name = 'Sunny Bhaveen Chandra'

name[0::-1]

'S'

In [45]:
name[::-1]  # to reverse the string

'ardnahC neevahB ynnuS'

In [46]:
name[::-2]  #skipping characters

'adaCneaBynS'

In [48]:
#Palindrome sequence - eg: madam
#read from left or right it will be same

data = input('input a string')
reverse = data[::-1]

print(data, reverse)

if data==reverse:
    print(f'input string: {data} is palindrome')
else:
    print(f'input string: {data} is not a palindrome')

input a stringradar
radar radar
input string: radar is palindrome

In [49]:
data = input('input a string')
reverse = data[::-1]

print(data, reverse)

if data==reverse:
    print(f'input string: {data} is palindrome')
else:
    print(f'input string: {data} is not a palindrome')

input a stringsunny
sunny ynnus
input string: sunny is not a palindrome

In [50]:
data = input('input a string')
reverse = data[::-1]

print(data, reverse)

if data==reverse:
    print(f'input string: {data} is palindrome')
else:
    print(f'input string: {data} is not a palindrome')

input a stringRadar
Radar radaR
input string: Radar is not a palindrome

In [51]:
sentence = "Now Playing - 1st Oct Live Class Python if else condition basics"

### Mutability

- Str is not mutable/ changable

In [52]:
#replace "s" with 'F'
name = 'Sunny'
name[0]="F"

TypeError: 'str' object does not support item assignment

In [53]:
'F'+name[1:]

'Funny'

In [54]:
name = 'F'+name[1:]

In [55]:
name

'Funny'

In [56]:
#replace method

name.replace('y','YYY')

'FunnYYY'

In [57]:
name = name.replace('y','YYY')
name

'FunnYYY'

In [58]:
name = 'Sunny BHAVEEN CHANDR'
name=name.replace('Sunny','SUNNY')

In [59]:
name

'SUNNY BHAVEEN CHANDR'

In [60]:
name = 'Sunny BHAVEEN CHANDR'
name=name.replace('n','N')

In [61]:
name

'SuNNy BHAVEEN CHANDR'

In [62]:
name = 'Sunny BHAVEEN CHANDR'
name=name.replace(' ','_')

In [63]:
name

'Sunny_BHAVEEN_CHANDR'

### length of the string which is often used

In [64]:
len(name)

20

In [66]:
len('Sunny chandra')

13

In [67]:
name = '  Sunny  '
name = name.replace(' ','')
len(name)

5

1. String indexing
2. String slicing
3. String skipping
4. string reversal
5. string replace method
6. length of the string
7. String is Immutable, we cannot directly change the letters by index methods

In [68]:
name = 'Sunny bhaveen chandra'
name[4:19:3]

'yhe a'

### count specific character in a string

In [70]:
name = 'Sunny'
name.count('n')

2

### Split operation

In [71]:
name = 'Sunny Bhaveen Chandra'
name.split(" ")

['Sunny', 'Bhaveen', 'Chandra']

In [73]:
first_name, middle_name, last_name = name.split(" ")

print(f"""
first_name: {first_name}""")

first_name: Sunny

In [76]:
date = input('enter DOB in the format dd/mmm/yyyy: ')
date, month, year = date.split('/')


print(f'The user was born in the month of {month} in the year {year} on the date {date}')

enter DOB in the format dd/mmm/yyyy: 11/10/1996
The user was born in the month of 10 in the year 1996 on the date 11

In [77]:
name = 'Sunny_Bhaveen_Chandra'
name.split('_')

['Sunny', 'Bhaveen', 'Chandra']

In [78]:
name.split('n')

['Su', '', 'y_Bhavee', '_Cha', 'dra']

In [79]:
name.split('.')

['Sunny_Bhaveen_Chandra']

In [80]:
date = input('Enter the date in DD/MM/YYYY')
date.split('/')

Enter the date in DD/MM/YYYY17th/march/1996

['17th', 'march', '1996']

In [82]:
A, B, C = date.split('/')
print(A,B,C)

17th march 1996

In [83]:
A = date.split('/')
A

['17th', 'march', '1996']

In [84]:
A[1]

'march'

In [85]:
len(A)

3

### lower, upper, title case etc

In [86]:
name = 'Sunny Bhaveen Chandra'
name.lower()

'sunny bhaveen chandra'

In [87]:
name.upper()

'SUNNY BHAVEEN CHANDRA'

In [89]:
name = input('Enter your name: ')
print(f'user input: {name}')
print(f'name in upper case: {name.upper()}')
print(f'name in lower case: {name.lower()}')
print(f'name in title case: {name.title()}')
print(f'name in capitalise case: {name.capitalize()}')
print(f'name in swap case: {name.swapcase()}')

Enter your name: Sunny BHAveen chanDRA
user input: Sunny BHAveen chanDRA
name in upper case: SUNNY BHAVEEN CHANDRA
name in lower case: sunny bhaveen chandra
name in title case: Sunny Bhaveen Chandra
name in capitalise case: Sunny bhaveen chandra
name in swap case: sUNNY bhaVEEN CHANdra

In [90]:
name = 'Today is the best DAY of my Life'
print(f'user input: {name}')
print(f'name in upper case: {name.upper()}')
print(f'name in lower case: {name.lower()}')
print(f'name in title case: {name.title()}')
print(f'name in capitalise case: {name.capitalize()}')
print(f'name in swap case: {name.swapcase()}')

user input: Today is the best DAY of my Life
name in upper case: TODAY IS THE BEST DAY OF MY LIFE
name in lower case: today is the best day of my life
name in title case: Today Is The Best Day Of My Life
name in capitalise case: Today is the best day of my life
name in swap case: tODAY IS THE BEST day OF MY lIFE

### Join method

In [92]:
name ='Sunny Bhaveen Chandra'

'*'.join(name)

'S*u*n*n*y* *B*h*a*v*e*e*n* *C*h*a*n*d*r*a'

In [93]:
'|'.join(name)

'S|u|n|n|y| |B|h|a|v|e|e|n| |C|h|a|n|d|r|a'

In [95]:
' '.join(name)

'S u n n y   B h a v e e n   C h a n d r a'

In [94]:
#to reverse name

''.join(reversed(name))

'ardnahC neevahB ynnuS'

In [96]:
name[::-1]

'ardnahC neevahB ynnuS'

### remove extra spaces front and back of the string

In [97]:
name = '  Sunny   '
name.strip(' ')

'Sunny'

In [98]:
#left strip

name.lstrip(' ')

'Sunny   '

In [99]:
name.rstrip(' ')

'  Sunny'

In [100]:
name ='==Sunny Bhaveen Chandra==='
name.strip('=')

'Sunny Bhaveen Chandra'

### Fromatting

In [101]:
name = 'Sunny'

name.center(20,"#")

'#######Sunny########'

In [102]:
name.center(10,"#")

'##Sunny###'

In [103]:
name.center(2,"#")

'Sunny'

### Checking string cases (important)

In [104]:
name = 'SUNNY'
name.isupper()

True

In [105]:
name.islower()

False

In [106]:
name.isspace()

False

In [107]:
name = 'Sunny  '
name.isspace()

False

In [108]:
name = 'Sun ny'
name.isspace()

False

In [110]:
name = input('Enter your name: ')
print(f'user input: {name}')

if name.istitle():
    print(f'user has given correct input')
elif name.isspace():
    print(f'Wrong input please try again')
else:
    print(f'wrong input we neet to autocorrect it')
    name = name.title()
    print(f'correct input {name}')

Enter your name:
user input:
Wrong input please try again

In [111]:
name = input('Enter your name: ')
print(f'user input: {name}')

if name.istitle():
    print(f'user has given correct input')
elif name.isspace():
    print(f'Wrong input please try again')
else:
    print(f'wrong input we neet to autocorrect it')
    name = name.title()
    print(f'correct input {name}')

Enter your name: sunny chandra
user input: sunny chandra
wrong input we neet to autocorrect it
correct input Sunny Chandra

In [112]:
name = input('Enter your name: ')
print(f'user input: {name}')

if name.istitle():
    print(f'user has given correct input')
elif name.isspace():
    print(f'Wrong input please try again')
else:
    print(f'wrong input we neet to autocorrect it')
    name = name.title()
    print(f'correct input {name}')

Enter your name: suNNy chnDra
user input: suNNy chnDra
wrong input we neet to autocorrect it
correct input Sunny Chndra

In [113]:
phone_number = '1308580135'
phone_number.isdigit()

True

In [114]:
phone_number = '1308580135ggg'
phone_number.isdigit()

False

In [115]:
phone_number = input('enter your phone number: ')

if phone_number.isdigit() and len(phone_number)==10:
    print(f'user input is correct')
else:
    print('Invalid input')

enter your phone number: 9849433669
user input is correct

In [117]:
phone_number = input('enter your phone number: ')

if phone_number.isdigit() and len(phone_number)==10 and phone_number!='0000000000':
    print(f'user input is correct')
else:
    print('Invalid input')

enter your phone number: 0000000000
Invalid input

In [118]:
phone_number.startswith('0')

True

In [119]:
phone_number.endswith('0')

True

In [127]:
#to check whether it is an Indian phone number
phone_number = input('enter your phone number: ')

if phone_number.startswith('+91') and phone_number[1:].isdigit() and len(phone_number)==13:
    print(f'user input is correct')
else:
    print('Invalid input')

enter your phone number: +919849433669
user input is correct

In [122]:
#to check whether it is an Indian phone number
phone_number = input('enter your phone number: ')

if phone_number.startswith('+91') and phone_number[1:0].isdigit() and len(phone_number)==13:
    print(f'user input is correct')
else:
    print('Invalid input')

enter your phone number: 9849433669
Invalid input

In [123]:
#to chck alphanumeric

PAN_NUMBERS = 'AYEPC5656X'

PAN_NUMBERS.isalnum() #check for alpha or numeric values

True

In [124]:
PAN_NUMBERS = '4567'

PAN_NUMBERS.isalnum()

True

In [125]:
PAN_NUMBERS = 'AYEPC'

PAN_NUMBERS.isalnum()

True

In [128]:
PAN_NUMBERS = ' '

PAN_NUMBERS.isalnum()

False