## Function in python

- There are inbuilt functions in python
- Function is a set of code which is utilised again and again, to increase the reusability of the code.

In [1]:
a = 'sudh'

In [2]:
len(a)

4

In [3]:
l = [2,3,4,5,'sudh',4.67]

In [4]:
len(l)

6

In [5]:
#creating a function

def test():

IndentationError: expected an indented block (Temp/ipykernel_8756/3917857719.py, line 4)

In [6]:
def test():
    pass

In [7]:
def test1():
    print('this is my very first function in python')

In [8]:
test1() #call of the function

this is my very first function in python

In [10]:
b = test1()

this is my very first function in python

In [11]:
b

In [14]:
print(b)
type(b)

None

NoneType

In [13]:
c = 'kumar'
type(c)

str

In [15]:
type(test1()) #None type can't be stored in any variable

this is my very first function in python

NoneType

In [16]:
def test2():
    return 5

In [17]:
test2()

5

In [18]:
d = test2()

In [19]:
d

5

In [20]:
#print always tries to return none type
type(print('priya'))

priya

NoneType

In [21]:
def test3():
    return 5

In [22]:
def test4():  #print type returns none type hence can't be hold in a variable
    print('this is my print return')

In [23]:
test3()

5

In [24]:
test4()

this is my print return

In [25]:
e = test4()

this is my print return

In [26]:
e +'sudh'

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [27]:
def test3():
    return 'sudh'

In [28]:
test3()+'kumar'

'sudhkumar'

In [29]:
test4()+'kumar' #test4() holds none type, so can't concate the str

this is my print return

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [30]:
def test5():
print('this is my python code')

IndentationError: expected an indented block (Temp/ipykernel_8756/2575248083.py, line 2)

In [31]:
def test6(): #we can return multiple entites/ outcomes and return as tuple
    return 1,3,[3,4,5,'sudh'],(1,2,4)

In [32]:
test6()

(1, 3, [3, 4, 5, 'sudh'], (1, 2, 4))

In [34]:
type(test6())

tuple

In [35]:
test6()[1]

3

In [36]:
def test7(): #we can return multiple entites/ outcomes and return as tuple
    return 1,3,[3,4,5,'sudh'],(1,2,4)

In [37]:
test7()

(1, 3, [3, 4, 5, 'sudh'], (1, 2, 4))

In [38]:
a,b,c,d = test7()

In [39]:
print(a,b,c,d)

1 3 [3, 4, 5, 'sudh'] (1, 2, 4)

In [40]:
e, f, g = 1,3,'sudh'
print(e)
print(f)
print(g)

1
3
sudh

In [41]:
def test8():
    a = 4*5+8
    return a

In [42]:
test8()

28

In [43]:
type(test8())

int

In [44]:
l = [2,3,4,5,6,7,8,9]
sum2 = 0
for i in l:
    sum2 = sum2+i
    
sum2

44

In [45]:
def test9():
    l = [2,3,4,5,6,7,8,9]
    sum2=0
    for i in l:
        sum2 = i+sum2
    return sum2

In [46]:
test9()

44

In [47]:
def test9():
    l = [2,3,4,5,6,7,8,9,'sudh']
    sum2=0
    for i in l:
        if type(i)==int:
            sum2 = i+sum2
    return sum2

In [48]:
test9()

44

In [49]:
def test10(l):  #passing arguments
    a = 0
    for i in l:
        if type(i)==int:
            a = a+i
    return a

In [50]:
test10() #it expects one positional argument

TypeError: test10() missing 1 required positional argument: 'l'

In [52]:
l1 = [4,5,6,7,7,8,'kumar',4.56]

In [53]:
test10(l1)

37

In [54]:
def test11(a,b):
    return a+b

In [55]:
test11() #expects 2 positional arguments

TypeError: test11() missing 2 required positional arguments: 'a' and 'b'

In [56]:
test11('sudh','kumar')

'sudhkumar'

In [57]:
test11(a=7, b=5)

12

In [58]:
test11(b=8,a=5)

13

In [59]:
test11(2,3)

5

In [60]:
l = [3,4,5,6,7,8,'sudh',5,6,7,'kumar','ineuron']

In [61]:
l2=list()
for i in l:
    if type(i)==str:
        l2.append(i)
l2

['sudh', 'kumar', 'ineuron']

In [62]:
l3 = [i for i in l if type(i)==str]
l3

['sudh', 'kumar', 'ineuron']

In [66]:
def test12():
    l2 = list()
    for i in l:
        if type(i)==str:
            l2.append(i)
    return l2

In [67]:
test12()

['sudh', 'kumar', 'ineuron']

In [73]:
def test12(l):  ##adding a doc for the function
    """This is my function which will help you to seperate a 
    string from a list and append it to new list"""
    l2 = list()
    for i in l:
        if type(i)==str:
            l2.append(i)
    return l2

In [70]:
l2 = ['dscd','gh',1.2,3]

In [71]:
test12(l2)

['dscd', 'gh']

In [72]:
len('sdf')

3

1. write a function which try to find out the len of the string without using an inbuilt len function
2. Write a fuction which will print the an index of the list element (ele: index) with out using index function
3. Write a function which will be able to print an IP Address of your system
4. Write a function which will shutdown your system
5. Write a fuction which will take input as a list with any kind of numeric values and give an output as a multiplication ofall the numeric data l = [3,5,6.56, 4,5,'sudh', 'fsds bootcamp 2.0']
6. Write a function which will be able to read all the mails
7. Write a fuction which will be able to send a mail to anyone
8. Write a function which will be able to read a doc/word file from your system

send the solution to query@ineuron.ai