# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

In [9]:
#Q1- solution
numbers = [12, 75, 150, 180, 145, 525, 50]

first = numbers[0]

for i in range(0,len(numbers)):
    if first<= numbers[i]:
        print(f'element compared with {first} is {numbers[i]}')
        first = numbers[i]
        print(f'updated first {first}')
    else:
        print(f'element compared with {first} is {numbers[i]}')
        first = first
        print(f'updated first {first}')
        

first

element compared with 12 is 12
updated first 12
element compared with 12 is 75
updated first 75
element compared with 75 is 150
updated first 150
element compared with 150 is 180
updated first 180
element compared with 180 is 145
updated first 180
element compared with 180 is 525
updated first 525
element compared with 525 is 50
updated first 525

525

In [13]:
#method-2

numbers = [12, 75, 150, 180, 145, 525, 50]
numbers.sort()
print(f'The largest number in the given list is {numbers[-1]}')

The largest number in the given list is 525

In [15]:
#method-3

numbers = [12, 75, 150, 180, 145, 525, 50]
print(f'The largest number in the given list is {max(numbers)}')

The largest number in the given list is 525

Q2. Print all the even number between (1, 12).

In [20]:
lst = []

for i in range(0,13):
    if i%2==0:
        lst.append(i)
print(lst)


lst2 = [i for i in range(0,13) if i%2==0]

lst2

[0, 2, 4, 6, 8, 10, 12]

[0, 2, 4, 6, 8, 10, 12]

In [18]:
#method-2

for i in range(0,13):
    if i%2==0:
        print(i, end=" ")

0 2 4 6 8 10 12

In [22]:
#method 3

increment = 0
lst = range(0,13)

while increment<len(lst):
    if lst[increment]%2==0:
        print(f'{lst[increment]}', end=' ')
        
    increment= increment+1

0 2 4 6 8 10 12

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

In [24]:
user_input = int(input('Enter the number: '))
sum_of =0

for i in range(0, user_input+1):
    sum_of = sum_of+i
    
sum_of

Enter the number: 4

10

In [25]:
#method 2

user_input = int(input('Enter the number: '))

sum(range(user_input+1))

Enter the number: 10

55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [34]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    if i%5==0:
        if i>150:
            print(f'number {i} does not satisfy the above conditions')
            continue
        elif i>500:
            print(f'number {i} does not satisfy the above conditions')
            break
        else:
            print(i)
    else:
        print(f'number {i} does not satisfy the above conditions')

number 12 does not satisfy the above conditions
75
150
number 180 does not satisfy the above conditions
145
number 525 does not satisfy the above conditions
50

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [38]:
list1 = [10, 20, 30, 40, 50]

list1[::-1]

[50, 40, 30, 20, 10]

In [41]:
#method - 2

list1 = [10, 20, 30, 40, 50]

list1.reverse()
print(f'reversed list is: {list1}')
print(f'reverses list is: {list(reversed(list1))}')

reversed list is: [50, 40, 30, 20, 10]
reverses list is: [10, 20, 30, 40, 50]