# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Friday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

# List, Tuple and Sets

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
Take the user input N no. of times and find out the total cost to be paid?

OR

You can ask the user quntity or the count of item?

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [4]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]

input_watch = int(input('No of units of watches purchased: '))
input_phone = int(input('No of units of phones purchased: '))
input_laptop = int(input('No of units of laptops purchased: '))
input_shirt = int(input('No of units of shirts purchased: '))

products = list()
prices = list()

for i, j in amazon_website:
    products.append(i)
    prices.append(j)
    
print(products)
prices

No of units of watches purchased: 1
No of units of phones purchased: 3
No of units of laptops purchased: 2
No of units of shirts purchased: 3
['watch', 'phone', 'laptop', 'shirt']

[5000, 10000, 50000, 1000]

In [15]:
amount_to_be_payed = 0

if input_watch>5 or input_phone>5 or input_laptop>5 or input_shirt>5:
    print('Out of stock')
else:
    if input_watch and input_watch<=5:
        amount_to_be_payed = input_watch*amazon_website[0][1]
        print(f'total amount: {amount_to_be_payed}')
    if input_phone and input_phone<=5:
        amount_to_be_payed += input_phone*amazon_website[1][1]
        print(f'total amount: {amount_to_be_payed}')
    if input_laptop and input_laptop<=5:
        amount_to_be_payed += input_laptop*amazon_website[2][1]
        print(f'total amount: {amount_to_be_payed}')
    if input_shirt and input_shirt<=5:
        amount_to_be_payed += input_shirt*amazon_website[3][1]
    elif input_watch>5 or input_phone>5 or input_laptop>5 or input_shirt>5:
        print('Out of stock')

amount_to_be_payed
                
        
amount_to_be_payed

total amount: 5000
total amount: 35000
total amount: 135000

138000

#### 2. What will be the output of the following code snippet?

```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

#### 3. Write a Python program to find the repeated items of a tuple.

### 4. Replace last value of tuples in a list with 500. Try using list comprehension

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```